body {
  padding: 20px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
}

.options-loader.centered {
}

.options-loader {
  background: url(/images/options-loader.gif) no-repeat center center;
  width: 200px;
  height: 200px;
}

.wait-in-hidden {
  opacity: 0;
  transition: opacity 1s;
}

.wait-in-hidden-done {
  opacity: 1;
}

.wait-in-show {
  opacity: 1;
  transition: opacity 1s;
}
.wait-in-show-done {
  opacity: 0;
}

.tab-helper-options {
  width : 1280px;
  margin-left: auto;
  margin-right: auto;
}
.tab-helper-options.wider {
  width : 1680px;
}

.missing-monitor {
  color: red;
}

.tab-action-bar .btn {
  border: none;
  color: lightgray;
}

tr:hover .tab-action-bar .btn {
  color: black;
}

.hidden-only {
  visibility: hidden;
}

.fix-checkbox {
  min-width: inherit !important
}

.fix-checkbox-mark {
  width: 10px;
  left: -1px;
  padding-left: 5px;
}

.rule-dialog .form-group {

}

.margin-left-lg {
  margin-left: 30px !important;
}

.margin-top-md {
  margin-top: 8px !important;
}

.margin-md {
  margin: 8px !important;
}

.hoverable-section {

}

.hoverable-section .show-when-hover {
  display: none;
}

.hoverable-section:hover .show-when-hover {
  display: block;
}

.hoverable-section .hide-when-hover {
  display: block;
}

.hoverable-section:hover .hide-when-hover {
  display: none;
}

.options-rule-row td {
  line-height: 34px !important
}

.monitor-select {
  max-width: 250px !important;
  min-width: 250px !important;
}

.position-select {
  max-width: 120px !important;
  min-width: 120px !important;
}

.checkbox-cell {
  padding-top: 14px !important;
}

.dropdown-header {
  margin-bottom:15px;
}

.help-section {
  padding: 8px !important;
  border: 9px #2e6da4 solid;
  display: inline-block;
  width: 100%;
  position: relative;
}

.quick-info-section {
  padding: 8px !important;
  border: 9px darkgrey solid;
  display: inline-block;
  width: 100%;
  position: relative;
}

.logo-wrapper {
  float: left;
  width: 289px;
}
.logo-wrapper > img {
  max-width: 274px;
  float: left;
  margin-right: 12px;
  margin-top: -2px;
}

.help-button-container {
  position: fixed;
  right: 18px;
  top: 40px;
}

.help-section-close {
  position: absolute;
  right: 8px;
  top: 8px;
  color: darkgrey;
  cursor:pointer;
  z-index: 10;
}

.help-section-close:hover {
  color: inherit;
}